h1 {
    font-size: 50px;
    font-family: 'Headland One', serif;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner {
    display: flex;
    margin-bottom: 150px;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

span {
    color: orange;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 80%;
}

.half p {
    text-align: justify;
}

.button {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.dream-sec {
    display: flex;
    margin-bottom: 150px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dream-img {
    width: 50%;
    padding-left: 5%;
}

.dream-text {
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}

.dream-text p {
    text-align: justify;
}

.dream-img img {
    width: 70%;
}

.dream-btn {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, orange);
    border-radius: 5px;
}

.exp-area {
    margin-bottom: 150px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.exp-area h1 {
    margin-left: 2%;
}

.exp-items {
    display: flex;
    text-align: justify;
    margin-bottom: 150px;

}

.exp-items h3 {
    font-size: 20px;
}

.exp-item1 {
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(136, 52, 38);
    border-top: 7px solid blue;
    border-radius: 10px;
    transition: transform 2s;
}

.exp-item1:hover {
    transform: rotate(360deg);
}

.exp-item2 {
    padding: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(136, 52, 38);
    border-top: 7px solid orange;
    border-radius: 10px;
    transition: transform 2s;
}

.exp-item2:hover {
    transform: rotate(360deg);
}

footer p {
    text-align: center;
}